

<div class="number-range">
  <div class="range-emoticon">
      <img class="" src="{{ 'emoticon-01.png' | asset_img_url }}" />
      <img class="" src="{{ 'emoticon-02.png' | asset_img_url }}" />
      <img class="" src="{{ 'emoticon-03.png' | asset_img_url }}" />
      <img class="active" src="{{ 'emoticon-04.png' | asset_img_url }}" />
      <img class="" src="{{ 'emoticon-05.png' | asset_img_url }}" />
      <img class="" src="{{ 'emoticon-06.png' | asset_img_url }}" />
      <img class="" src="{{ 'emoticon-07.png' | asset_img_url }}" />
      <img class="" src="{{ 'emoticon-08.png' | asset_img_url }}" />
      <img class="" src="{{ 'emoticon-09.png' | asset_img_url }}" />
      <img class="" src="{{ 'emoticon-10.png' | asset_img_url }}" />
  </div>
  <div class="range-message">
    <p class="">Worst It Could Be</p>
    <p class="">It’s Okay, Definetly room to improve. </p>
    <p class="">Its Awesome!</p>
    <p class="active">Worst It Could Be</p>
    <p class="">It’s Okay, Definetly room to improve. </p>
    <p class="">Its Awesome!</p>
    <p class="">Worst It Could Be</p>
    <p class="">It’s Okay, Definetly room to improve. </p>
    <p class="">Its Awesome!</p>
    <p class="">Its Awesome!</p>
  </div>
  <div class="range-bar">
    <div class="range-bar-inner">
      {% for i in (min..max) %}
        {% if i == active %}
          <div class="range-bar-item range-bar-item-active range-bar-item-selected"><span class="mobile-top-line"></span></div>
        {% elsif i < active %}
          <div class="range-bar-item range-bar-item-active"><span class="mobile-top-line"></span></div>
        {% else %}
          <div class="range-bar-item range-bar-item-inactive"><span class="mobile-top-line"></span></div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
  <div class="range-dots">
    <!-- {{ min }}    {{ max }}    {{ step }}    {{ active }} -->
    <div class="range-dots-inner">
      {% for i in (min..max) %}
        {% if i == active %}
          <div class="range-dot-wrapper range-dot-wrapper-active" data-range-value="{{ i }}" data-answer="{{ i }}">
            <span>{{ i }}</span>
            <img class="dot-image-active" src="{{ 'activeDot.png' | asset_img_url }}" />
            <img class="dot-image-inactive" src="{{ 'inactiveDot.png' | asset_img_url }}" />
          </div>
        {% else %}
          <div class="range-dot-wrapper range-dot-wrapper-inactive" data-range-value="{{ i }}" data-answer="{{ i }}">
            <span>{{ i }}</span>
            <img class="dot-image-active" src="{{ 'activeDot.png' | asset_img_url }}" />
            <img class="dot-image-inactive" src="{{ 'inactiveDot.png' | asset_img_url }}" />
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>