

<form action="javascript:void(0);" class="single-text-input">
  {% case validation %}
    {% when "string" %}
      <input type="text" id="userName" class="single-answer-input" name="userName" placeholder="{{ placeholder }}">
    {% when "zipcode" %}
      <input type="text" id="userZip" class="single-answer-input" name="userZip" placeholder="{{ placeholder }}">
    {% when "number" %}
      <input type="text" id="userAge" class="single-answer-input" name="userAge" data-min="{{ min }}" data-max="{{ max }}" placeholder="{{ placeholder }}">
    {% when "email" %}
      <input type="text" id="userEmail" class="single-answer-input" name="userEmail" placeholder="{{ placeholder }}">
    {% else %}
      <input type="text" id="other" class="single-answer-input" name="other" placeholder="{{ placeholder }}">
  {% endcase %}
  <a class="inline-continue"></a>
</form>