

<form action="javascript:void(0);" class="single-text-input">
  {% case validation %}
    {% when "string" %}
      <input type="text" class="single-answer-input" name="userText" placeholder="{{ placeholder }}">
    {% when "zipcode" %}
      <input type="text" class="single-answer-input" name="userZip" placeholder="{{ placeholder }}">
    {% when "number" %}
      <input type="text" class="single-answer-input" name="userNumber" data-min="{{ min }}" data-max="{{ max }}" placeholder="{{ placeholder }}">
    {% when "email" %}
      <input type="text" class="single-answer-input" name="userEmail" placeholder="{{ placeholder }}">
    {% else %}
      <input type="text" class="single-answer-input" name="other" placeholder="{{ placeholder }}">
  {% endcase %}
  <a class="inline-continue"></a>
</form>