{% assign section_button = '' %}

{% if item['unique_slide_id'] == "Informational01" %}
  {% assign section_button = 'Take The Quiz' %}
{% else %}
  {% assign section_button = 'Let’s Go!' %}
{% endif %}

<div class="slide-inner">
  <div class="slide-wrapper">
    <div class="slide-top">
      <div class="slide-header">
        <div class="question-heading slide-question slide-question-small text-center">{{ item["question_format_text"] }}</div>
        <div class="question-text slide-question slide-question-small text-center">{{ item["format_subtext"] }}</div>
      </div>
    </div>
    <div class="slide-bottom">
      <a class="btn-section-cover">{{ section_button }}</a>
    </div>
  </div>
</div>
<style>
  #{{ item['unique_slide_id'] }} .slide-inner {
    background-image: url({{ item['slide_main_image'] }});
  }
</style>

{% if item["slide_mobile_main_image"] != blank %}
  <style>
    @media (max-width: 798px) {
      #{{ item['unique_slide_id'] }} .slide-inner {
        background-image: url({{ item['slide_mobile_main_image'] }});
      }
    }
  </style>
{% endif %}
