<section class="section-wrapper flex">
    <div class="left-side half-width">
        <img src="{{ section.settings.image | img_url: 'master' }}" loading="lazy" class="lazyload" alt="{{ section.settings.title | escape }}">
    </div>
    <div class="right-side half-width">
        <span>{{ section.settings.sub_title }}</span>
        <h2 id="created_for_someone" class="h1">{{ section.settings.title | escape }}</h2>
        <p id="goals_for_category_names">{{ section.settings.text }}</p>
        <a id="checkout_our_recommendations" href="javascript:;">{{ section.settings.btn_text }}</a>
        {% comment %} <a id="checkout_our_recommendations" href="{{ section.settings.btn_link }}">{{ section.settings.btn_text }}</a> {% endcomment %}
    </div>
</section>
{% schema %}
{
    "name": "Pre recommendation",
    "settings": [
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
        },
        {
           "type": "text",
           "id": "title",
           "label": "Heading",
           "default": "Created Just For @name"
        },
        {
            "type": "text",
            "id": "sub_title",
            "label": "Sub Heading",
            "default": "Your Results Are Ready!"
        },
        {
            "type": "textarea",
            "id": "text",
            "label": "Text",
            "default": "Your Recommendations are based on your goals for @category-names. To perfect your routine we recommend you take the following supplements."
        },
        {
            "type": "text",
            "id": "btn_text",
            "label": "Button Title",
            "default": "Check Out Our Recommendations"
        },
        {
            "type": "url",
            "id": "btn_link",
            "label": "Button Link"
        }
    ]
}
{% endschema %}