<link
    rel="stylesheet"
    href="https://unpkg.com/swiper/swiper-bundle.min.css"
/>

<div class="container">
    <div class="btn--quiz-back desktop-hide">
        <img src="{{ 'back-button.png' | asset_img_url:'482x' }}" />
        Back
    </div>
    <div class="calculating-announcement-bar desktop-hide">
        <span> Questions Completed</span>
    </div>
    <div class="sidebar-button-slide collapsed hide">
        <div class="inner">
            <span class="title">Why We Ask?</span>
            <p></p>
            <span class="left-arrow-button"></span>
        </div>
    </div>
    <div class="pre-product-recommendation hide">
        {% section 'pre-product-recommendation' %}
    </div>
    <div class="recommended-products hide">
        {% assign collection = collections["quiz"] %}
        {% assign custom_bottle = all_products['custom-bottle'] %}
        <script class="kjh">
            {{ custom_bottle | json }}
        </script>
        <input type="hidden" id="custom_bottle_variant_id" value="{{ product.custom_bottle.first.id }}">
        <h2 class="h1">Your Bottle:</h2>
        <div class="products-wrapper">
            {% for product in collection.products %}
                {% unless product.title contains "Subscription" %}
                    <div class="item" data-product-handle="{{ product.handle }}" data-product-name="{{ product.name }}">
                        <div class="image-wrapper">
                            <a href="{{ product.url }}">
                                <img src="{{ product.featured_image | img_url: '400x' }}" alt="{{ product.title }}">
                            </a>
                        </div>
                        <div class="text-wrapper">
                            <h3>You Don’t Sleep Well.. </h3>
                            <span class="sub-heading">So We’re Recommending....</span>
                            <h3 class="product-title">{{ product.title | escape }}</h3>
                            <ul>
                                <li>You dont sleep well<span>Ashwaganda has vitamin d to help people who dont sleep well. </span></li>
                                <li>You dont sleep well<span>Ashwaganda has vitamin d to help people who dont sleep well. </span></li>
                            </ul>
                            <div class="bottom">
                                <span class="text">Learn More</span>
                                <span class="btn-right-arrow"></span>
                            </div>
                        </div>
                    </div>
                {% endunless %}
            {% endfor %}
            <div class="item arrow" id="add_custom_bottle_to_cart">
                <span class="text mobile-hide">Next </span>
                <span class="text desktop-hide">Get My Herbs</span>
                <span class="btn-right-arrow"></span>
            </div>
        </div>
    </div>
    <div class="learn-more-popup">
        {% assign handle = 'sleep-beans' %}
        {% assign product = all_products[handle] %}
        <div class="item">
            <div class="image-wrapper">
                <a href="{{ product.url }}">
                    {{ product.metafields.custom_fields["recommend_image"] }}
                </a>
            </div>
            <div class="text-wrapper">
                <div class="close-wrapper">
                    <div class="close"></div>
                </div>
                <div class="inner-wrapper">
                    <h3 class="recommend_label desktop-hide">{{ product.metafields.custom_fields["recommend_label"] }}</h3>
                    <span class="recommend_short_text desktop-hide">{{ product.metafields.custom_fields["recommend_short_text"] }}</span>
                    <h3 class="product-title">{{ product.title | escape }}</h3>
                    <h3 class="recommend_label mobile-hide">{{ product.metafields.custom_fields["recommend_label"] }}</h3>
                    <span class="recommend_short_text mobile-hide">{{ product.metafields.custom_fields["recommend_short_text"] }}</span>
                    {{ product.metafields.custom_fields["recommend_content"] }}
                    <div class="bottom">
                        <span class="learn-more">Learn More</span>
                        <span class="btn-right-arrow desktop-hide"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page page-default">
    
        <div class="assets-test-area">

            {%- comment -%}
            {% for item in shop.metafields.custom_fields["quiz_questions"] %}
                <script>console.log('{{ item["unique_slide_id"] }}', '{{ item["question_section"] }}', '{{ item["question_type"] }}');</script>
            {% endfor %}
            {%- endcomment -%}


            <div class="asset-wrapper breadcrumbs-progress-wrapper">
                {% render 'quiz-breadcrumbs-progress' %}
            </div>

            <div class="asset-wrapper swiper-wrapper" >
                <div class="swiper mySwiper" data-len='{{ shop.metafields.custom_fields["quiz_questions"].size }}'>
                    <div class="swiper-wrapper">
                    

                        {% for item in shop.metafields.custom_fields["quiz_questions"] %}
                            {% if item['question_section'] == "Lifestyle" %}
                                {% assign slideIsActive = false %}
                                {% assign extraSlideClass = 'swiper-slide-lifestyle-category' %}
                                {% assign slideSection = 'Lifestyle' %}
                            {% elsif item['question_section'] == "Basic" %}
                                {% assign slideIsActive = true %}
                                {% assign extraSlideClass = 'swiper-slide-basic-category' %}
                                {% assign slideSection = 'Basic' %}
                            {% elsif item['question_section'] == "Opening" %}
                                {% assign slideIsActive = true %}
                                {% assign extraSlideClass = 'swiper-slide-opening-category' %}
                                {% assign slideSection = 'Opening' %}
                            {% else %}
                                {% assign slideIsActive = false %}
                                {% assign extraSlideClass = 'swiper-slide-health-category' %}
                                {% assign slideSection = 'Goals' %}
                            {% endif %}

                            {% if item["question_type"] == "Dynamic Range" %}
                                <div    class="swiper-slide swiper-slide-dynamic {{ extraSlideClass }}" 
                                        data-answer-value=""
                                        data-slide-section="{{ slideSection }}"
                                        data-why-we-ask="{{ item["why_we_ask_text"] }}"
                                        data-scoreable-slide="true"
                                        data-question-text="{{ item['question_text'] }}"
                                        data-question-type="{{ item['question_type'] }}" 
                                        data-unique-slide-id="{{ item['unique_slide_id'] }}" 
                                        data-show-slide="{{ slideIsActive }}" 
                                        data-slide-category="{{ item['question_section'] }}" >
                                    {% render 'quiz-slide-blank-dynamic-range', item: item %}
                                </div>
                            {% elsif item["question_type"] == "Health Topics Listing" %}
                                <div    class="swiper-slide" data-show-slide="false"
                                        data-unique-slide-id="Categories01"
                                        data-why-we-ask="{{ item["why_we_ask_text"] }}"
                                        data-question-text="Health Topics" 
                                        data-slide-category="">
                                    {% render 'quiz-slide-categories' %} </div>
                            {% elsif item["question_type"] == "Name of User" %}
                                <div    class="swiper-slide swiper-slide-dynamic {{ extraSlideClass }}" 
                                        data-slide-section="{{ slideSection }}"
                                        data-why-we-ask="{{ item["why_we_ask_text"] }}"
                                        data-scoreable-slide="true"
                                        data-question-text="{{ item['question_text'] }}"
                                        data-question-type="{{ item['question_type'] }}" 
                                        data-unique-slide-id="{{ item['unique_slide_id'] }}" 
                                        data-show-slide="{{ slideIsActive }}" 
                                        data-slide-category="{{ item['question_section'] }}" >
                                    {% render 'quiz-slide-blank-text-input', item: item %}
                                </div>
                            {% elsif item["question_type"] contains "Wow" %}
                                <div    class="swiper-slide swiper-slide-dynamic {{ extraSlideClass }}" 
                                        data-slide-section="{{ slideSection }}"
                                        data-why-we-ask="{{ item["why_we_ask_text"] }}"
                                        data-scoreable-slide="true"
                                        data-question-text="{{ item['question_text'] }}"
                                        data-question-type="{{ item['question_type'] }}" 
                                        data-unique-slide-id="{{ item['unique_slide_id'] }}" 
                                        data-show-slide="{{ slideIsActive }}" 
                                        data-slide-category="{{ item['question_section'] }}" >
                                    {% render 'quiz-slide-blank-informational', item: item %}
                                </div>
                            {% elsif item["question_type"] == "Short Answer" %}
                                <div    class="swiper-slide swiper-slide-dynamic {{ extraSlideClass }}" 
                                        data-slide-section="{{ slideSection }}"
                                        data-why-we-ask="{{ item["why_we_ask_text"] }}"
                                        data-scoreable-slide="true"
                                        data-question-text="{{ item['question_text'] }}"
                                        data-question-type="{{ item['question_type'] }}" 
                                        data-unique-slide-id="{{ item['unique_slide_id'] }}" 
                                        data-show-slide="{{ slideIsActive }}" 
                                        data-slide-category="{{ item['question_section'] }}" >
                                    {% render 'quiz-slide-blank-text-input', item: item %}
                                </div>
                            {% elsif item["question_type"] == "Yes/No" %}
                                <div    class="swiper-slide swiper-slide-yes-no swiper-slide-dynamic {{ extraSlideClass }}" 
                                        data-slide-section="{{ slideSection }}"
                                        data-why-we-ask="{{ item["why_we_ask_text"] }}"
                                        data-scoreable-slide="true"
                                        data-answer-value=""
                                        data-question-text="{{ item['question_text'] }}"
                                        data-question-type="{{ item['question_type'] }}" 
                                        data-unique-slide-id="{{ item['unique_slide_id'] }}" 
                                        data-show-slide="{{ slideIsActive }}" 
                                        data-slide-category="{{ item['question_section'] }}" >
                                    {% render 'quiz-slide-blank-yes-no', item: item %}
                                </div>
                            {% elsif item["question_type"] == "" %}
                                <div    class="swiper-slide swiper-slide-dynamic {{ extraSlideClass }}" 
                                        data-slide-section="{{ slideSection }}"
                                        data-why-we-ask="{{ item["why_we_ask_text"] }}"
                                        data-scoreable-slide="false"
                                        data-question-text="{{ item['question_text'] }}"
                                        data-question-type="{{ item['question_type'] }}" 
                                        data-unique-slide-id="{{ item['unique_slide_id'] }}" 
                                        data-show-slide="{{ slideIsActive }}" 
                                        data-transition-time="{{ item['automatic_transition_time'] }}"
                                        data-slide-category="{{ item['question_section'] }}" >
                                    {% render 'quiz-slide-blank-statement', item: item %}
                                </div>
                            {% elsif item["question_type"] == "Multiple Choice" %}
                                <div    class="swiper-slide swiper-slide-dynamic {{ extraSlideClass }}" 
                                        data-slide-section="{{ slideSection }}"
                                        data-why-we-ask="{{ item["why_we_ask_text"] }}"
                                        data-scoreable-slide="true"
                                        data-answer-value=""
                                        data-question-text="{{ item['question_text'] }}"
                                        data-question-type="{{ item['question_type'] }}" 
                                        data-unique-slide-id="{{ item['unique_slide_id'] }}" 
                                        data-show-slide="{{ slideIsActive }}" 
                                        data-slide-category="{{ item['question_section'] }}" >
                                    {% render 'quiz-slide-blank-multiple-choice', item: item %}
                                </div>
                            {% elsif item["question_type"] == "Multiple Select" %}
                                <div    class="swiper-slide swiper-slide-dynamic {{ extraSlideClass }}" 
                                        data-slide-section="{{ slideSection }}"
                                        data-why-we-ask="{{ item["why_we_ask_text"] }}"
                                        data-scoreable-slide="true"
                                        data-answer-value=""
                                        data-question-text="{{ item['question_text'] }}"
                                        data-question-type="{{ item['question_type'] }}" 
                                        data-unique-slide-id="{{ item['unique_slide_id'] }}" 
                                        data-show-slide="{{ slideIsActive }}" 
                                        data-slide-category="{{ item['question_section'] }}" >
                                    {% render 'quiz-slide-blank-multiple-select', item: item %}
                                </div>
                            {% endif %}
                        {% endfor %}

                        <div class="swiper-slide calculating-slide" data-show-slide="false" data-slide-category="">
                            <div class="calculating-wrapper">
                                <div class="calculating-heading mobile-hide">
                                    <span>We’re So Excited To Show You...</span>
                                </div>
                                <div class="calculating-body">
                                    <div class="body-inner">
                                        <img src="{{ 'Rolling-new.gif' | asset_img_url:'482x' }}" />
                                        <div class="center-group">
                                            {% comment %} <img class="" src="{{ 'emoticon-10.png' | asset_img_url }}" /> {% endcomment %}
                                            <span>Calculating Results...</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="calculating-heading desktop-hide">
                                    <span>We’re So Excited To Show You...</span>
                                </div>
                                <div class="calculating-sidebar">
                                    <span>Just One Second</span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div id="devScoreWrapper">
            </div>
        </div>
    </div>
</div>
 
<style>
    div#shopify-section-header {
        display: none;
    }
    div#shopify-section-footer {
        display: none;
    }
    {%- comment -%}
    body.template-page.page-full-width {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #PageContainer {
    }
    {%- endcomment -%}
</style>